*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
html ,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}

.note{
  background-color: rgb(74, 72, 72);
  color: antiquewhite;
  font-size: large;
}
.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  
}